* {
  
}

body {
  background-image: url('kwbackground.png');
  background-repeat: repeat;
  background-size: cover;
}

.header{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background: rgb(67, 67, 68, 0.5);

}

.header nav {
  /* padding-top: 10px;
  margin-right: 20px; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-size: 20px;
}

.header nav ul li {
  display: inline-block;
  position:relative;
  float: right;
  margin-left: 50px;
}

a{
    color:#232b35;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10%;
}

.projectImg {
  width: 30px;
  height: 30px;
}

.icon {
  width: 30px;
  height: 30px;
}


@media screen and (max-width: 992px) {
  .smaller-cards img {
    width: 50%;
  }

}

@media screen and (max-width: 768px) {
  main,
  #about-me,
   #contact-me,
   #work,
   .work-cards,
   .smaller-cards,
  .header {
    flex-direction: column;
  }
}

.clientsParrlex {
  padding-top: 70px;
  padding-bottom: 70px;
  margin-bottom: 50px;
}

.level > div{
padding:10px;
}

.level > div > img{
width:100%;
}