* {
  font-family: 'Rajdhani', sans-serif;
}

body {
  background-image: url('../images/kwbackground.png');
  background-repeat: repeat;
  background-size: cover;
}

.clientsParrlex {
  padding-top: 70px;
  padding-bottom: 70px;
  margin-bottom: 50px;
}

.level > div{
padding:10px;
}

.name {
  font-family: 'The Nautigal', cursive;
  font-size: 120px;
}

.title {
font-family: 'Playfair Display SC', serif;
font-weight: bold;
}

.projectImg {
  width: 250px;
  height: 250px;
}

.icon {
  width: 30px;
  height: 30px;
}


@media screen and (max-width: 992px) {
  .smaller-cards img {
    width: 50%;
  }

}

@media screen and (max-width: 768px) {
  main,
  #about-me,
   #contact-me,
   #work,
   .work-cards,
   .smaller-cards,
  .header {
    flex-direction: column;
  }
}

